:root {
    --mauve: #C884A6;
    --mauve-dark: #c07299;
    --pinklav: #E7BBE3;
    --bluelav: #CCD5FF;
    --background-grey: #737b8c;
    --background-grey-dark: #676f7e;
    --background-blue: #f8f9fc;
}

* {
    box-sizing: border-box;
}

.sidebar {
    position: absolute;
    top: 80px;
    left: 0px;
    width: 80px;
    bottom: 0px;
    background-color: var(--mauve);
}

.topbar {
    position: absolute;
    top: 0px;
    left: 80px;
    right: 0px;
    text-align: right;
    height: 40px;
    background-color: white;
}

.logobar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mauve);
    opacity: 0.4;
    font-size: 36px;
}

main {
    background-color: var(--background-blue);
    position: absolute;
    top: 40px;
    bottom: 0px;
    left: 80px;
    right: 0px;
    transition: 0.3s;
    overflow-y: scroll;
}

main.open {
    left: 360px;
}

.topbar-nav {
    position: relative;
    margin-right: 20px;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.topbar-nav button {
    font-size: 0.5rem;
    height: 30px;
    color: #000058;
    background-color: transparent;
    border: none;
    transition: 0.1s;
}

.topbar-nav button:hover {
    opacity: 0.7;
}

.topbar-nav i {
    margin-left: 2px;
}

.sidebar-nav button {
    font-size: 0.55rem;
    width: 80px;
    height: 80px;
    margin: 0px;
    padding: 0px;
    background-color: var(--mauve);
    border: none;
    transition: 0.1s;
}

.sidebar-nav button:hover {
    background-color: var(--mauve-dark);
}

.sidebar-nav button.current {
    background-color: var(--mauve-dark);
    border-left: 5px solid coral;
}

.sidebar-nav i {
    color: #F8F8F8;
    opacity: 0.85;
}


.profile-pane {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 10px 20px 20px;
}

.profile {
    background-color: white;
    width: 300px;
    height: 450px;
    margin: 15px;
    flex: none;
}