:root {
    --mauve: #C884A6;
    --mauve-dark: #c07299;
    --comp-green: #76c276;
    --background-grey: #8f95a3;
    --background-grey-dark: #676f7e;
    --background-blue: #f8f9fc;
    --background-blue-dark: #e6eaf4;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 0;
}

.menubar {
    position: absolute;
    top: 30px;
    left: 0px;
    height: 46px;
    right: 0px;
    background-color: var(--mauve);
}

.topbar {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: right;
    height: 30px;
    background-color: white;
}

.logobar {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mauve);
    opacity: 0.4;
    font-size: 20px;
}

main {
    background-color: var(--background-blue);
    position: absolute;
    top: 80px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    transition: 0.3s;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-padding: 98px;
}

.tab {
    display: none;
    /* height: 100%; */
}

.tab.open {
    display: block;
}

.topbar-nav {
    position: relative;
    padding-right: 15px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.topbar-nav button {
    font-size: 6px;
    height: 25px;
    color: #000058;
    background-color: transparent;
    border: none;
    transition: 0.1s;
}

.topbar-nav button:hover {
    opacity: 0.6;
}

.topbar-nav button:active {
    color: indigo;
}

.topbar-nav i {
    margin-left: 2px;
}

.menubar-nav {
    height: 100%;
    width: 100%;
}

.menubar-nav button {
    box-sizing: border-box;
    font-size: 6px;
    width: 54px;
    height: 46px;
    background-color: var(--mauve);
    border: none;
    transition: 0.1s;
    /* padding-bottom: 5px; */
}

.menubar-nav button:hover {
    background-color: var(--mauve-dark);
}

.menubar-nav button.current {
    background-color: var(--mauve-dark);
    border-top: 3px solid var(--mauve-dark);
    border-bottom: 3px solid coral;
}

.menubar-nav i {
    color: #F8F8F8;
    opacity: 0.85;
}

main section {
    justify-content: center;
}

/* Browse Tab */

#browse-tab {
    position: relative;
    margin-top: 98px;
    height: auto;
}

.filter-pane {
    position: fixed;
    top: 76px;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 12px 0 12px 0;
    /* box-shadow: 0 2px 2px -2px var(--background-blue-dark); */
    border-bottom: 1px solid var(--background-blue-dark);
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: var(--background-blue);
    z-index: 2;
}

.filter-pane button {
    background-color: transparent;
    font-size: 13px;
    color: var(--background-grey-dark);
    flex: none;
    /* text-transform: uppercase; */
    border: 1px solid transparent;
    padding: 0px 8px 1px 8px;
    border-radius: 30px;
    transition: 0.3s;
    opacity: 0.7;
    height: 20px;
}

.filter-pane button:hover {
    border: 1px solid var(--background-grey-dark);
    cursor: pointer;
}

.filter-pane button:active {
    opacity: 0.85;
}

.filter-pane button.selected {
    border: 1px solid var(--background-grey-dark);
    opacity: 0.85;
}

.filter-pane button.selected:hover {
    opacity: 0.7;
}

.filter-pane button.selected:active {
    opacity: 0.6;
}

.filter-pane button.deselected:hover {
    border: 1px solid transparent;
    opacity: 0.7;
}

.filter-pane button.deselected:active {
    border: 1px solid var(--background-grey-dark);
    opacity: 0.85;
}

#all-button {
    color: var(--mauve);
    opacity: 0.9;
}

#all-button:hover {
    border: 1px solid var(--mauve);
    opacity: 0.6;
}

#all-button.selected {
    border: 1px solid var(--mauve);
    opacity: 0.9;
}

#all-button.selected:hover {
    border: 1px solid var(--mauve);
    opacity: 0.6;
}

#all-button.selected:active {
    border: 1px solid var(--mauve);
    opacity: 0.9;
}

.profile-pane {
    font-family: "Helvetica", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.profile {
    background-color: white;
    width: 360px;
    height: 480px;
    transition: 0.3s;
    position: relative;
    scroll-snap-align: start;
}

.profile:hover {
    cursor: pointer;
    box-shadow: 0px 0px 8px 4px var(--background-blue-dark);
}

/* .profile:active {
    transform: scale(1.1);
    z-index: 1;
} */

.profile img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    transition: 0.4s;
    /* border: 3px solid white; */
}

.info-popout {
    position: absolute;
    top: 360px;
    left: 0;
    right: 0;
    height: 150px;
    z-index: 1;
    transition: 0.4s;
    padding: 2px;
}

.title-pane {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: auto;
    display: block;
    padding-top: 13px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.4s;
    text-align: center;
}

.title-pane h5 {
    font-size: 18px;
    color: var(--background-grey-dark);
    font-weight: 500;
}

.title-pane .email-pane {
    display: block;
    width: 100%;
    font-size: 12px;
    color: navy;
    margin-top: 5px;
    transition: 0.4s;
    text-align: center;
}

.subjects-pane {
    position: absolute;
    left: 20px;
    top: 65px;
    right: 20px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-right: 10px;
    margin-left: 11px;
    transition: 0.4s;
}

.subject-box {
    font-size: 11px;
    color: var(--background-grey);
    flex-grow: 1;
    margin-top: 2px;
    padding: 1px 5px 1px 5px;
    border: 1px solid var(--background-grey);
    text-align: center;
    transition: 0.4s;
}

.subject-box:last-of-type {
    display: none;
}

.close-button {
    font-size: 14px;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 28px;
    line-height: 0px;
    background-color: transparent;
    border: 1px solid transparent;
}

.close-button:hover {
    opacity: 0.7;
}

.close-button:active {
    opacity: 1;
}

.profile .close-button {
    top: 1px;
    right: 1px;
    display: block;
    opacity: 0.4;
    animation: fade-in 1s;
    z-index: 1;
}

.profile .close-button:hover {
    opacity: 0.7;
}

.profile .close-button:active {
    opacity: 1;
}

.profile:hover .close-button {
    display: block;
}

/* Book Tab */

#book-tab {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding-bottom: 100px;
}

#book-tab .message-pane {
    display: flex;
    width: 260px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: 1px dashed var(--background-grey);
}

#book-tab .message-pane p {
    font-size: 17px;
}

#book-tab.open {
    display: flex;
}

/* Add Tutor Popup */

.modal {
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3;
    overflow: scroll;
    transition: 1s;
    justify-content: center;
    align-items: center;
}

.login-pane {
    position: relative;
    font-family: "Helvetica", sans-serif;
    text-align: left;
    display: block;
    background-color: white;
    height: auto;
    width: 100%;
    height: 100%;
    padding: 15px 20px 15px 20px;
    animation: zoom-in 0.4s;
    overflow: scroll;
}

.login-pane header {
    text-align: center;
    padding-bottom: 10px;
}

.login-pane h3 {
    font-weight: 400;
    font-size: 18px;
}

form input[type=text], form input[type=email] {
    font-size: 11px;
    width: 100%;
    padding: 5px 5px;
    margin-top: 5px;
    margin-bottom: 12px;
}

form label {
    margin: 10px 0px;
    font-size: 12px;
}

.submit-button {
    display: inline-block;
    width: 100%;
    height: 33px;
    margin-bottom: 15px;
    background-color: var(--comp-green);
    color: white;
    font-size: 12px;
    border: none;
    padding-bottom: 1px;
}

.submit-button:hover {
    opacity: 0.8;
}

.submit-button:active {
    opacity: 1;
}

#subjects {
    margin: 10px 0px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 8px 0px;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#subjects label {
    margin-left: 4px;
    font-size: 11px;
}

.upload {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

#upload-label {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    border: 1px dashed lightgrey;
    line-height: 300px;
}

#upload-button {
    font-size: 12px;
    margin: 10px 0px 15px 0px;
    max-width: 300px;
}

#preview {
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: none;
    border: 1px solid transparent;
    margin: 10px auto;
    animation: fade-in 1s;
}

main footer {
    margin-top: 40px;
    height: 60px;
    position: relative;
}

main footer .load-button {
    font-size: 14px;
    /* font-family: "Helvetica", sans-serif; */
    display: none;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    padding: 7px 17px 7px 17px;
    border: 1px solid var(--background-grey-dark);
    color: var(--background-grey-dark);
    opacity: 0.8;
    border-radius: 40px;
}

main footer .load-button:hover {
    background-color: white;
    opacity: 0.6;
}

main footer .load-button:active {
    background-color: transparent;
    opacity: 1;
}

/* Animations */

@keyframes zoom-in {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: auto;
    }
}

@media (min-width: 680px) {
    .menubar {
        position: absolute;
        top: 80px;
        left: 0px;
        right: auto;
        bottom: 0px;
        width: 80px;
        height: auto;
    }
    .topbar {
        position: absolute;
        top: 0px;
        left: 80px;
        right: 0px;
        text-align: right;
        height: 40px;
    }
    .logobar {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.4;
        font-size: 36px;
    }
    main {
        top: 40px;
        bottom: 0px;
        left: 80px;
        right: 0px;
        font-size: 16px; /* Without this scrolling is very slow in Firefox (based on font size) */
        scroll-snap-type: none;
        scroll-padding: 0;
    }
    .topbar-nav {
        padding-right: 50px;
    }
    .topbar-nav button {
        font-size: 7px;
        height: 30px;
    }
    .menubar-nav {
        width: 100%;
        height: 100%;
    }
    .menubar-nav button {
        font-size: 9px;
        width: 80px;
        height: 80px;
        margin: 0px;
        padding: 0px;
    }
    .menubar-nav button.current {
        border-bottom: none;
        border-top: none;
        border-left: 5px solid coral;
    }
    .logobar {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 80px;
        height: 80px;
    }
    #browse-tab {
        margin-top: 0px;
    }
    .filter-pane {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        margin: 20px 20px 0px 20px;
        border: none;
    }
    .filter-pane button {
        font-size: 15px;
        padding: 0px 12px 1px 12px;
        height: 23px;
    }
    #book-tab .message-pane {
        display: flex;
        width: 280px;
        height: 40px;
        justify-content: center;
        align-items: center;
        border: 1px dashed var(--background-grey);
    }
    #book-tab .message-pane p {
        font-size: 20px;
    }
    .profile-pane {
        display: grid;
        grid-row-gap: 30px;
        grid-column-gap: 30px;
        grid-template-columns: repeat(auto-fill, 500px);
        margin: 28px 45px 30px 45px;
        padding-left: 16px;
        justify-content: center;
        align-items: center;
    }
    .profile {
        width: 500px;
        height: 300px;
    }
    .profile img {
        top: 0px;
        left: 0px;
        height: 100%;
        width: auto;
    }
    .info-popout {
        top: 0px;
        left: 300px;
        width: 200px;
        height: 100%;
    }
    .title-pane h5 {
        text-align: left;
    }
    .title-pane .email-pane {
        text-align: left;
    }
    .subjects-pane {
        left: 0px;
        top: 65px;
        right: 0px;
        height: auto;
    }
    .subject-box:last-of-type {
        display: block;
        flex-grow: 100000;
        visibility: hidden;
    }
    .profile .close-button {
        display: none;
    }
    .login-pane {
        margin: 70px auto;
        width: 670px;
        height: auto;
        padding: 50px;
        overflow: hidden;
    }
    .login-pane header {
        text-align: center;
        margin-bottom: 25px;
        margin-top: 5px;
    }
    .login-pane h3 {
        font-weight: 500;
        font-size: 22px;
    }
    form input[type=text], form input[type=email] {
        font-size: 13px;
        padding: 5px 5px;
        margin-top: 5px;
        margin-bottom: 12px;
    }
    form label {
        font-size: 14px;
    }
    .submit-button {
        margin-top: 30px;
        font-size: 14px;
    }
    #subjects {
        margin: 20px 0px;
        grid-gap: 8px 0px;
    }
    #subjects label {
        margin-left: 4px;
        font-size: 14px;
    }
    .upload {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    #upload-label {
        font-size: 14px;
    }
    #upload-button {
        font-size: 14px;
        margin: 15px 0px 20px 0px;
    }
}